<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page d'acueuil</title>
</head>

<body>
    {% include "test_pattern_svg.html" %}
    <h1>Petit titre</h1>
    <p>Petit contenu</p>
    <p>petit texte</p>
    <p>petite histoire</p>
    <img src="pixelison_image.jpg" class="degradation" alt="image fantaisie">
    <img src="image_paysage.jpg" class="degradation" alt="image paysage">
    <img src="image_animee.gif" class="degradation" alt="image animee">

    {% include 'test_pattern_svg.html' %}
</body>

</html>
