<!DOCTYPE html>
<html id="CONTENU">

    <head>
        <title>LowTech</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/blog.css')}} ">
        <script src="https://kit.fontawesome.com/6d4b55bdfe.js" crossorigin="anonymous"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>

    <header>

        {% include "partials/_navbar.html" %}

    </header>
<!-- --------------------------------------------------navbar------------------------------------------------------------- -->
    <body>

        <div class="blog">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            
            {% if autorisation %}
            <a href="create">Ecrire un article ? (Autorisation particulière nécessaire)</a>
            {% endif%}
            
            <br>
            <br>
            <div class="articles">
                {% for post in posts %} 
                    <div class="article">
                        <a href="{{ url_for('post', post_id=post['id']) }}">
                            <img src={{ post['miniature']}} class="img-post">
                            <h2 id="titre">{{ post['title'] }}</h2>
                        </a>
                        <br>
                        <div class="article-header">
                            <span class="badge badge-primary">{{ post['created'] }}</span>
                            
                            {% if autorisation %}
                            <a href="{{ url_for('edit', id=post['id']) }}">
                                <span class="badge badge-warning">Edit</span>
                            </a>
                            {% endif%}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
<!-- --------------------------------------------------footer------------------------------------------------------ -->
    <footer>
        {% include "partials/_footer.html" %}
    </footer>

</html>