<!DOCTYPE html>
<html>

    <head>
        <title>LowTech</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/connecter.css')}} ">
        <script src="https://kit.fontawesome.com/6d4b55bdfe.js" crossorigin="anonymous"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>

    <header>

    
    </header>
<!-- --------------------------------------------------navbar------------------------------------------------------------- -->
    <body>

        <section class="formulaire">
            <!--Formulaire-->
            <form method="POST" id="connection">
                <h1>Se Connecter</h1>
        
                <div class="inputs">
                    <input type="email" placeholder="Email" name="email">
                    <input type="password" placeholder="Mot de Passe" name="mdp">
                </div>

                <p class="inscription">Je n'ai pas de compte.<a href="/register"> Je m'en crée un.</a></p>
                
                
                <div align="center">
                    <button type="submit" name="envoi">Se connecter</button>
                </div>

            </form>
        
        </section>

    </body>



<!-- --------------------------------------------------footer------------------------------------------------------ -->
    <footer>
        <div class="footer">
            <div class="plan_site">
                <h1>Plan du site</h1>
                <ul>
                    <li><a href="/index.php"> Accueil</a></li>
                    <li><a href=""> Articles</a></li>
                    <li><a href=""> Graphiques</a></li>
                    <li><a href="/html/connecter.php"> Se connecter</a></li>
                    <li><a href=""> A propos</a></li>    
                </ul>
            </div>

            <div class="coordonnes">
                <h1>Coordonnées</h1>
                <ul>
                    <li> Mail : test@gmail.com</li>
                    <li> Téléphone : 01.02.03.04.05 </li>
                    <li> Addresse : 1 rue de la grande allée Brest</li>    
                </ul>
            </div>

            <div class="sociaux">
                <h1>Réseaux sociaux</h1>
                <ul>
                    <li> <a href=""> Twitter</a></li>
                    <li> <a href=""> Instagram</a></li>
                    <li> <a href=""> Facebook</a> </li>    
                </ul>
            </div>
        </div>
    </footer>

</html>