<!DOCTYPE html>
<html>

    <head>
        <title>LowTech</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/blog.css')}} ">
        <script src="https://kit.fontawesome.com/6d4b55bdfe.js" crossorigin="anonymous"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>

    <header>

        {% include "partials/_navbar.html" %}

    </header>
<!-- --------------------------------------------------navbar------------------------------------------------------------- -->
    <body>
        <div class="create">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
            <form method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" placeholder="Post title"
                        class="form-control" size="50"
                        value="{{ request.form['title'] or post['title'] }}">
                    </input>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" placeholder="Post content" rows="25" cols="150"
                            class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <hr>
            <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
                <input type="submit" value="Delete Post"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete this post?')">
            </form>
        </div>
    </body>
<!-- --------------------------------------------------footer------------------------------------------------------ -->
    <footer>
        {% include "partials/_footer.html" %}
    </footer>

</html>