<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/graphique.css')}} ">
    
    <!-- graphique rond  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var mem = "{{ mem }}";
        var cpuload = "{{ cpuload }}"
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Mémoire', parseInt(mem)],
          ['Processeur', parseInt(cpuload)],
        ]);
        var options = {
          width: 400, height: 200,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };
        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <!-- FIN graphique rond  -->
    
    
  </head>

  <header>
    {% include "partials/_navbar.html" %}
  </header>

  <body>
    <div id="chart_div" style="width: 400px; height: 120px;"></div>
    
    <div class="graph">
      <div id="graph_bat">
        <h1>Pourcentage de charge de la batterie</h1>
        <img src="{{ url_for('static', filename='ressource/graph/graph_bat.png') }}">
      </div>

      <div id="graph_courant">
        <h1>Mesure du courant</h1>
        <img src="{{ url_for('static', filename='ressource/graph/graph_courant.png') }}">
      </div>
    </div>
  </body>

  <footer>
    {% include "partials/_footer.html" %}
  </footer>
</html>