{% extends 'main.html' %}
{% block content %}

<!--APPLICATION DE LA DEGRADATION AUX IMAGES-->

	<style>
		.degradation {
			height: 200px;
			filter: url(#blur);
			mask: url(#mask);

		}
	</style>

	<svg width="660" height="480">
		<defs>
			<!--FILTRE DE FLOUE-->
			<filter id="blur">
				<feGaussianBlur stdDeviation="0" />
			</filter>

			<!--PATERNE DE ROND-->
			<pattern id="pattern" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
				<circle cx="5" cy="5" r="5" stroke="none" fill="#ff82bd" />
			</pattern>

			<!--CREATION D'UN MASQUE A L'AIDE DU PATERNE-->
			<mask id="mask">
				<rect x="0" y="0" width="100%" height="100%" fill="url(#pattern)" />
			</mask>
		</defs>
		<!--<image href="pixelison_image.jpg" id="degradation"/>-->
		<image href="image_paysage.jpg" class="degradation"/>
	</svg>

{% endblock %}
<!--TESTER JINJA POUR FAIRE UN SANDWICH (VOIR PHOTO IPHONE TABLEAU TEXTE EN ROUGE ET BLEU)-->