/* Masquer le menu par défaut */
img{
    width: 300px;
    height: auto;
}

#CONTENU {
    filter: url(#myFilter);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown select {
  background-position: center;
  background-repeat: no-repeat;
}

#colorFilterSelect {
    position: absolute;
    top: 100%;
    left: 00px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 0px solid #fff;
    z-index: 1;
    font-size: 0px;
    background-image: url('/site test/bouton/oeil2.png');
}

#colorFilterSelect option {
    font-size: 16px;
}

.dropdown-button:hover {
    opacity: 0.8;
}

.dropdown:hover #colorFilterSelect {
    display: block;
}

.dropdown #colorFilterSelect:focus {
    display: block;
}
