<div class="footer">
    <div class="plan_site">
        <h1>Plan du site</h1>
        <ul>
            <li><a href="/"> Accueil</a></li>
            <li><a href=""> Articles</a></li>
            <li><a href="/graphique"> Graphiques</a></li>
            <li><a href="/connecter"> Se connecter</a></li>
            <li><a href="/a_propos"> A propos</a></li>    
        </ul>
    </div>

    <div class="coordonnes">
        <h1>Coordonnées</h1>
        <ul>
            <li> Mail : test@gmail.com</li>
            <li> Téléphone : 01.02.03.04.05 </li>
            <li> Addresse : 1 rue de la grande allée Brest</li>    
        </ul>
    </div>

    <div class="sociaux">
        <h1>Réseaux sociaux</h1>
        <ul>
            <li> <a href=""> Twitter</a></li>
            <li> <a href=""> Instagram</a></li>
            <li> <a href=""> Facebook</a> </li>    
        </ul>
    </div>
</div>