<div class="footer">
    <div class="plan_site">
        <h1>Plan du site</h1>
        <ul>
            <li><a href="/"> Accueil</a></li>
            <li><a href="/blog"> Articles</a></li>
            <li><a href="/graphique"> Graphiques</a></li>
            <li><a href="/login"> Se connecter</a></li>
            <li><a href="/a_propos"> A propos</a></li>    
        </ul>
    </div>

    <div class="coordonnes">
        <h1>Coordonnées</h1>
        <ul>
            <li> Mail : bonjour@lowtechlabbrest.org</li>
            <li> Addresse : 56 Rue d'Aiguillon, 29200 Brest</li>    
        </ul>
    </div>

    <div class="sociaux">
        <h1>Réseaux sociaux</h1>
        <ul>
            <li> <a href="https://discord.gg/2MS25eYT">Discord</a></li>
            <li> <a href="https://www.linkedin.com/company/low-tech-lab-brest/?originalSubdomain=fr">LinkedIn</a></li>
            <li> <a href="https://www.facebook.com/lowtechlabbrest/">Facebook</a> </li>    
        </ul>
    </div>
</div>