<nav class="sigle">
    <img src="{{url_for('static',filename='/../ressource/logo_remov.png')}}">
    <h1>Low Tech Lab</h1>
    <div class="icone">
        <a href="" id="daltonien"><i class="fa-solid fa-eye-low-vision"></i></a>
        <a href="" id="contraste"><i class="fa-solid fa-circle-half-stroke"></i></a>
    </div>
</nav>

<div class="menu">
        <a href="/" id="acceuil">Accueil</a>
        <a href="blog">Articles</a>
        <a href="/graphique">Graphiques</a>
        <a href="/login">Se connecter</a>
        <a href="/a_propos" id="a_propos">A propos</a>

</div>