
<div class="bottomright">
  <img id="battery-image" src="{{
    url_for('static', filename='/../ressource/low.png')
  }}" width="30" height="30">
</div>

{% if pourcent_battery_recupere is not none %}
{% if pourcent_battery_recupere >= 80 %}
  <script>
    var batteryImg = document.getElementById("battery-image");
    batteryImg.src = "{{url_for('static',filename='/../ressource/high.png')}}";
  </script>
{% elif pourcent_battery_recupere >= 40 and pourcent_battery_recupere <= 80 %}
  <script>
    var batteryImg = document.getElementById("battery-image");
    batteryImg.src = "{{url_for('static',filename='/../ressource/medium.png')}}";
  </script>
{% else %}
  <script>
    var batteryImg = document.getElementById("battery-image");
    batteryImg.src = "{{url_for('static',filename='/../ressource/low.png')}}";
  </script>
{% endif %}
{% endif %}
